---
layout: default
---

{% include lang.html %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    <h1 class="dynamic-title">
      {{ title }}
    </h1>
    <div class="content">
      {{ content }}
    </div>
  {% else %}
    {{ content }}
  {% endif %}
</article>

 {% raw %}
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer></script>
<script>
  new Crate({
    server: '1436371718036783226',
    channel: '1436371719152472177'
  })
</script>
{% endraw %}   
    
